/* Utility Classes */

.animate {
  animation-duration: 1s;
}

.animate.animate-fast {
  animation-duration: 0.5s;
}

.animate.popIn {
  animation-name: popIn;
}

.invisible{
  opacity: 0;
}

/* Animations  */

@keyframes slideInUp {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes popIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Funnel Display", serif;
  background-color: rgb(255, 248, 230);
}

.header-title {
  color: rgb(180, 116, 76);
  font-size: clamp(2rem, 8vh, 4rem);
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 3px rgb(71, 71, 71);
}

.button-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background-color: rgb(226, 202, 93);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 5px rgb(139, 114, 77);
}

.button:hover {
  cursor: pointer;
  background-color: rgb(230, 209, 115);
}

.start-button {
  margin-top: 33%;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.grid-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  transition: transform 1s;
}

.grid {
  margin: auto;
  width: 100%;
  max-width: 600px;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgb(131, 115, 90);
  box-shadow: 8px 8px 30px rgb(139, 114, 77);
}

.grid-defeat {
  transform: scale(0.8);
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(131, 115, 90);
  border-radius: 2rem;
}

.grid-box {
  display: flex;
  aspect-ratio: 1 / 1;
  background-color: rgb(236, 236, 236);
  border-radius: 1rem;
}

.box-value {
  background-color: rgb(236, 236, 236);
  margin: auto;
  font-size: min(6vw, 2.5rem);
  font-weight: 500;
}

.empty-box {
  background-color: rgb(187, 167, 137);
  box-shadow: 1px 1px 5px inset;
  border-radius: 1rem;
  margin: 0.3rem;
}

.score-display {
  max-width: 600px;
  width: 100%;
  margin: auto;
  font-size: 1rem;
  color: rgb(94, 85, 75);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.score-txt {
  background-color: rgb(207, 203, 177);
  border-radius: 2rem;
  padding: 0.2rem 1rem;
}

.score {
  margin-left: 0.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: rgb(207, 203, 177);
}

.gameover-container {
  display: flex;
}

.gameover-message {
  font-size: 2.5rem;
  margin: auto;
  color: rgb(94, 85, 75);
  font-weight: 500;
  animation: slideInUp 1.5s ease;
}

.play-again-button {
  animation: slideInDown 1.5s ease;
}
